
<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <!-- Position Column -->
  <ng-container matColumnDef="Product Name">
    <th mat-header-cell *matHeaderCellDef> Product Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="On Stock">
    <th mat-header-cell *matHeaderCellDef> On Stock</th>
    <td mat-cell *matCellDef="let element"> {{element.remaining}} </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="Sold">
    <th mat-header-cell *matHeaderCellDef>Sold</th>
    <td mat-cell *matCellDef="let element"> {{element.totalQty - element.remaining}} </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element"> {{element.totalQty}} </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="Warehouse">
    <th mat-header-cell *matHeaderCellDef> Warehouse </th>
    <td mat-cell *matCellDef="let element"> {{showWarehouse(element.id_warehouse)}} </td>
  </ng-container>


</table>

<h3>Agregar</h3>


<div class="space-row">
  
  <button mat-stroked-button color="primary">Agregar</button>
  
</div>
